# Ignorar directorios target, excepto el archivo maven-wrapper.jar
target/
!.mvn/wrapper/maven-wrapper.jar

# Ignorar directorios target dentro de src/main y src/test
**/src/main/**/target/
**/src/test/**/target/

### IntelliJ IDEA ###
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Archivos generados por Qodana
.qoadana.yaml
qodana.sarif.json
